<header class="header bg-light border-bottom">
    <div class="container">
        <nav class="header-nav d-flex justify-content-between flex-column flex-md-row">
            <div class="header-menu d-flex flex-wrap">
                <a routerLink="/" class="logo mx-3 d-flex align-items-center">
                    <img src="/assets/img/logo.svg" alt="shop-logo" width="48" height="48">
                </a>
                <a  [class]="['header-nav-link', 'd-flex', 'align-items-center', 'p-3' ]"
                    routerLink="/"
                    routerLinkActive="header-nav-link-active"
                    [routerLinkActiveOptions]="{exact: true}">Главная</a>
                <a  [class]="['header-nav-link', 'd-flex', 'align-items-center', 'p-3' ]"
                    routerLink="/shop"
                    routerLinkActive="header-nav-link-active">Каталог</a>
                <a  [class]="['header-nav-link', 'd-flex', 'align-items-center', 'p-3' ]"
                    routerLink="/about"
                    routerLinkActive="header-nav-link-active">О Нас</a>
            </div>
            <div *ngIf="!loggedIn; else userBlock" class="header-auth-block d-flex d-flex align-items-center">
                <a  [class]="['header-nav-link', 'd-flex', 'align-items-center', 'p-3' ]"
                    routerLink="/login"
                    routerLinkActive="header-nav-link-active">Войти</a>
                <a  [class]="['header-nav-link', 'd-flex', 'align-items-center', 'p-3' ]"
                    routerLink="/register"
                    routerLinkActive="header-nav-link-active">Зарегистрироваться</a>
            </div>
            <ng-template #userBlock>
                <div class="header-user-block d-flex align-items-center">
                    <a  [class]="['header-nav-link', 'd-flex', 'align-items-center', 'p-3' ]"
                        routerLink="/user"
                        routerLinkActive="header-nav-link-active">Личный кабинет</a>
                    <a  [class]="['header-nav-link', 'd-flex', 'align-items-center', 'p-3', 'c' ]"
                        (click)="onLogout($event)" style="cursor: pointer">Выйти</a>
                </div>
            </ng-template>
        </nav>
    </div>
</header>