.header-nav {
    &-link {
        text-decoration: none;
        color: #000;

        &-active {
            background-color: #fff;
            font-weight: bold;
            position: relative;
            border-left: 1px solid #dee2e6;
            border-right: 1px solid #dee2e6;

            &::before {
                content: "";
                position: absolute;
                display: block;
                bottom: -1px;
                left: 0;
                width: calc(100% + 0.5px);
                height: 1px;
                background-color: #fff;
            }
        }
    }
}