<main class="main">
    <div class="container">
        <div class="row">
            <h1 class="py-3 border-bottom mb-3">Авторизация</h1>
        </div>
        <div class="row">
            <form [formGroup]="loginFormGroup" *ngIf="!loggedIn; else alreadyLogged" class="mb-3 w-100 mx-auto login-form">
                <div>
                    <label for="user-email" class="form-label">Email</label>
                    <input formControlName="email" type="email" class="form-control" id="user-email" name="user-email" placeholder="name@example.com" autocomplete="true"/>
                    <div *ngIf="loginFormGroup.controls.email.status === 'INVALID' && (loginFormGroup.controls.email.dirty || loginFormGroup.controls.email.touched)" class="error-block border border-danger py-2 px-3 mt-3 rounded">
                        <p class="text-danger fw-bold m-0">Введите правильный Email</p>
                    </div>
                </div>
                <div>
                    <label for="user-password" class="col-sm-2 col-form-label">Пароль</label>
                    <input formControlName="password" type="password" class="form-control" id="user-password" name="user-password" autocomplete="true"/>
                    <div *ngIf="loginFormGroup.controls.password.status === 'INVALID' && (loginFormGroup.controls.password.dirty || loginFormGroup.controls.password.touched)" class="error-block border border-danger py-2 px-3 mt-3 rounded">
                        <p class="text-danger fw-bold m-0">Введите правильный пароль</p>
                    </div>
                </div>
                <button [class]="['btn', 'btn-primary', 'mt-3', 'login-button']" type="submit" (click)="onLogin($event)">Войти</button>
                <a [class]="['btn', 'btn-light', 'mt-3', 'mx-2', 'register-button']" routerLink="/register">Зарегистрироваться</a>
            </form>
            <ng-template #alreadyLogged>
                <p>Вы уже авторизованы</p>
            </ng-template>
        </div>
    </div>
</main>