<main class="main">
    <div class="container">
        <div class="row">
            <app-user-header></app-user-header>
        </div>
        <div class="row">
            <router-outlet></router-outlet>
        </div>
    </div>
</main>