<div *ngIf="loading; else categoriesList" class="spinner-border my-3" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<ng-template #categoriesList>
    <div class="categories-list d-flex flex-wrap justify-content-center">
        <div *ngFor="let category of categories" [attr.data-category-id]="category.category_id" 
            [class]="['category-block', 'border', 'py-3', 'px-4', 'my-2', 'mx-3', 'rounded', 'shadow-sm']">
            <h2>{{ category.category_name }}</h2>
            <p>{{ category.category_description }}</p>
            <a  routerLink="/shop/categories/{{ category.category_id }}"
                [class]="['btn', 'btn-light', 'shadow-sm']">Открыть</a>
        </div>
    </div>
</ng-template>