<div class="checkout">
    <div class="row">
        <div *ngIf="loading; else checkoutBlock" class="spinner-border my-3" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <ng-template #checkoutBlock>
            <div class="col-12">
                <h2 class="my-3">Оформление заказа</h2>
            </div>
            <div class="col-12 col-md-6">
                <h3 class="my-3">Список товаров</h3>
                <div class="cart-products">
                    <div *ngFor="let cartProduct of cartProducts" class="cart-product border rounded px-3 py-2 mb-2">
                        {{ cartProduct.product_name }} {{ cartProduct.product_size_name }} ( {{ cartProduct.count }} шт.) {{ cartProduct.product_price }} грн. - {{ cartProduct.count * cartProduct.product_price }} грн.
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <h3 class="my-3">Доставка и оплата</h3>
                <small>На данный момент доставка и оплата фиксирована.</small>
                <p class="my-1">Доставка: Новая Почта (50 грн.)</p>
                <p class="my-1">Оплата: Наложенный платёж (Наличные)</p>
            </div>
            <div class="col-12">
                <div class="total border rounded p-3">
                    <p class="my-1">Сумма: {{ totalPrice }} грн.</p>
                    <p class="my-1">Доставка: 50 грн.</p>
                    <p class="my-1">Итого: {{ totalPrice + 50 }} грн.</p>
                    <p class="my-3">Наш оператор свяжется с вами для подтверждения заказа.</p>
                    <button class="btn btn-primary btn-sm mt-3" (click)="onSubmitCheckout()">Подтвердить</button>
                    <a class="btn btn-secondary btn-sm mx-3 mt-3" routerLink="/shop/categories">Назад к покупкам</a>
                </div>
            </div>
        </ng-template>
    </div>
</div>