<div *ngIf="loading; else productsList" class="spinner-border my-3" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<ng-template #productsList>
    <h3 class="text-center mb-3">Все футболки</h3>
    <div class="products-list d-flex flex-wrap justify-content-center">
        <div *ngFor="let product of products" [class]="['product-block', 'border', 'py-3', 'px-4', 'my-2', 'mx-3', 'rounded', 'shadow-sm']">
            <h3>{{ product.product_name }}</h3>
            <div class="product-image d-flex align-items-center justify-content-center p-3 border rounded mb-3">
                <img *ngIf="product.product_image !== null" src="{{ environment.apiHost + '/' + product.product_image }}" alt="{{product.product_name}}">
                <img *ngIf="product.product_image === null" src="/assets/img/tshirt-thumb.svg" alt="{{product.product_name}}" width="128" height="128">
            </div>
            <a  routerLink="/shop/products/{{product.product_id}}"
                [class]="['btn', 'btn-light', 'shadow-sm']">Открыть</a>
        </div>
    </div>
</ng-template>