<div class="user-profile">
    <div class="container">
        <div class="row">
            <div *ngIf="loading; else profileInfo" class="spinner-border my-3" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <ng-template #profileInfo>
                <div *ngIf="!loggedIn" class="unauthorized">
                    <h3 class="py-3">Вы не авторизованы!</h3>
                    <p><a routerLink="/login">Войдите</a> или <a routerLink="/register">зарегистрируйтесь</a>.</p>
                </div>
                <div *ngIf="loggedIn" class="profile-info">
                    <h3 class="py-3">Ваши персональные данные</h3>
                    <p><span class="fw-bold">Фамилия: </span> <span class="{{ profile.last_name !== null ? null : 'text-danger' }}">{{ profile.last_name !== null ? profile.last_name : "Нет данных" }}</span></p>
                    <p><span class="fw-bold">Имя: </span> <span class="{{ profile.first_name !== null ? null : 'text-danger' }}">{{ profile.first_name !== null ? profile.first_name : "Нет данных" }}</span></p>
                    <p><span class="fw-bold">Отчество: </span> <span class="{{ profile.medium_name !== null ? null : 'text-danger' }}">{{ profile.medium_name !== null ? profile.medium_name : "Нет данных" }}</span></p>
                    <p><span class="fw-bold">Email: </span> <span class="{{ profile.email !== null ? null : 'text-danger' }}">{{ profile.email !== null ? profile.email : "Нет данных" }}</span></p>
                    <p><span class="fw-bold">Дата рождения: </span> <span class="{{ profile.birthday !== null ? null : 'text-danger' }}">{{ profile.birthday !== null ? (profile.birthday | date: 'YYYY-MM-dd' ) : "Нет данных" }}</span></p>
                    <p><span class="fw-bold">Страна: </span> <span class="{{ profile.country !== null ? null : 'text-danger' }}">{{ profile.country !== null ? profile.country : "Нет данных" }}</span></p>
                    <p><span class="fw-bold">Адрес: </span> <span class="{{ profile.address !== null ? null : 'text-danger' }}">{{ profile.address !== null ? profile.address : "Нет данных" }}</span></p>
                    <p><span class="fw-bold">Индекс: </span> <span class="{{ profile.zip_code !== null ? null : 'text-danger' }}">{{ profile.zip_code !== null ? profile.zip_code : "Нет данных" }}</span></p>
                    <p><span class="fw-bold">Телефон: </span> <span class="{{ profile.phone !== null ? null : 'text-danger' }}">{{ profile.phone !== null ? profile.phone : "Нет данных" }}</span></p>
                </div>
            </ng-template>
        </div>
    </div>
</div>