<main class="main">
    <div class="container">
        <div class="row">
            <h1 class="py-3 border-bottom">Регистрация</h1>
        </div>
        <form *ngIf="!loggedIn; else alreadyLogged" class="mb-3 w-100 mx-auto register-form" autocomplete="off" [formGroup]="registerFormGroup">
            <div class="row">
                <div class="col-12 col-md-6">
                    <fieldset>
                        <legend>Обязательные данные</legend>
                            <div>
                                <label for="lastName" class="form-label">Фамилия</label>
                                <input formControlName="last_name" type="text" class="form-control" id="lastName" name="lastName" placeholder="Иванов"/>
                                <div *ngIf="registerFormGroup.controls.last_name.status === 'INVALID' && (registerFormGroup.controls.last_name.dirty || registerFormGroup.controls.last_name.touched)" class="error-block border border-danger py-2 px-3 mt-3 rounded">
                                    <p class="text-danger fw-bold m-0">Введите фамилию</p>
                                </div>
                            </div>

                            <div>
                                <label for="firstName" class="form-label mt-3">Имя</label>
                                <input formControlName="first_name" type="text" class="form-control" id="firstName" name="firstName" placeholder="Иван"/>
                                <div *ngIf="registerFormGroup.controls.first_name.status === 'INVALID' && (registerFormGroup.controls.first_name.dirty || registerFormGroup.controls.first_name.touched)" class="error-block border border-danger py-2 px-3 mt-3 rounded">
                                    <p class="text-danger fw-bold m-0">Введите имя</p>
                                </div>
                            </div>

                            <div>
                                <label for="mediumName" class="form-label mt-3">Отчество</label>
                                <input formControlName="medium_name" type="text" class="form-control" id="mediumName" name="mediumName" placeholder="Иванович">
                                <div *ngIf="registerFormGroup.controls.medium_name.status === 'INVALID' && (registerFormGroup.controls.medium_name.dirty || registerFormGroup.controls.medium_name.touched)" class="error-block border border-danger py-2 px-3 mt-3 rounded">
                                    <p class="text-danger fw-bold m-0">Введите отчество</p>
                                </div>
                            </div>

                            <div>
                                <label for="user-email" class="form-label mt-3">Email</label>
                                <input formControlName="email" type="email" class="form-control" id="user-email" name="user-email" placeholder="name@example.com" autocomplete="true"/>
                                <div *ngIf="registerFormGroup.controls.email.status === 'INVALID' && (registerFormGroup.controls.email.dirty || registerFormGroup.controls.email.touched)" class="error-block border border-danger py-2 px-3 mt-3 rounded">
                                    <p class="text-danger fw-bold m-0">Введите правильный Email</p>
                                </div>
                            </div>

                            <div>
                                <label for="userPhone" class="form-label mt-3">Телефон</label>
                                <input formControlName="phone" type="tel" class="form-control" id="userPhone" name="userPhone"/>
                                <div *ngIf="registerFormGroup.controls.phone.status === 'INVALID' && (registerFormGroup.controls.phone.dirty || registerFormGroup.controls.phone.touched)" class="error-block border border-danger py-2 px-3 mt-3 rounded">
                                    <p class="text-danger fw-bold m-0">Введите корректно телефон (10-13 символов)</p>
                                </div>
                            </div>

                            <div>
                                <label for="user-password" class="form-label mt-3">Пароль</label>
                                <input formControlName="password" type="password" class="form-control" id="user-password" name="user-password" autocomplete="new-password"/>
                                <div *ngIf="registerFormGroup.controls.password.status === 'INVALID' && (registerFormGroup.controls.password.dirty || registerFormGroup.controls.password.touched)" class="error-block border border-danger py-2 px-3 mt-3 rounded">
                                    <p class="text-danger fw-bold m-0">Введите пароль</p>
                                </div>
                            </div>

                            <div>
                                <label for="user-password-confirmation" class="form-label mt-3">Подтверждение пароля</label>
                                <input formControlName="password_confirmation" type="password" class="form-control" id="user-password-confirmation" name="user-password-confirmation" autocomplete="false"/>
                                <div *ngIf="registerFormGroup.controls.password_confirmation.status === 'INVALID' && (registerFormGroup.controls.password_confirmation.dirty || registerFormGroup.controls.password_confirmation.touched)" class="error-block border border-danger py-2 px-3 mt-3 rounded">
                                    <p class="text-danger fw-bold m-0">Введите подтверждение пароля</p>
                                </div>
                            </div>
                    </fieldset>
                </div>
                <div class="col-12 col-md-6">
                    <fieldset>
                        <legend>Необязательные данные</legend>
                        <label for="userBirthday" class="form-label">Дата рождения</label>
                        <input type="date" class="form-control" id="userBirthday" name="userBirthday"/>

                        <label for="userGender" class="form-label mt-3">Пол</label>
                        <select class="form-select" name="userGender" id="userGender">
                            <option value="">Не выбрано</option>
                            <option value="male">Мужской</option>
                            <option value="female">Женский</option>
                        </select>

                        <label for="userCountry" class="form-label mt-3">Страна</label>
                        <input type="text" class="form-control" id="userCountry" name="userCountry"/>

                        <label for="userAddress" class="form-label mt-3">Адресс</label>
                        <input type="text" class="form-control" id="userAddress" name="userAddress"/>

                        <label for="userZipcode" class="form-label mt-3">Индекс</label>
                        <input type="text" class="form-control" id="userZipcode" name="userZipcode"/>
                    </fieldset>
                </div>
                <div class="col-12">
                    <button [class]="['btn', 'btn-primary', 'mt-3', 'login-button']" type="submit" (click)="onRegister($event)">Зарегистрироваться</button>
                    <a [class]="['btn', 'btn-light', 'mt-3', 'mx-2', 'register-button']" routerLink="/login">Войти</a>
                </div>
            </div>
        </form>
        <ng-template #alreadyLogged>
            <div class="row">
                <p>Вы уже авторизированы в системе. Чтобы зарегистрировать новый аккаунт, выйдите из существующего.</p>
            </div>
        </ng-template>
    </div>
</main>