<main class="main">
    <div class="container">
        <div class="row">
            <h1 class="py-3 border-bottom mb-5">Детали товара</h1>
        </div>
        <div class="row">
            <div *ngIf="loading; else productsInfo"class="spinner-border my-3" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <ng-template #productsInfo>
                <div class="col-12 col-md-4">
                    <div class="product-image d-flex align-items-center justify-content-center p-3 border rounded mb-3 mb-md-0">
                        <img *ngIf="product.product_image !== null" src="{{ environment.apiHost + '/' + product.product_image }}" alt="{{product.product_name}}">
                        <img *ngIf="product.product_image === null" src="/assets/img/tshirt-thumb.svg" alt="{{product.product_name}}">
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-3 mb-md-0">
                    <h2>{{ product.product_name }}</h2>
                    <p><b>Серийный номер</b>: {{ product.product_serial_code }}</p>
                    <p><b>Поставщик</b>: {{ product.product_provider_name }}</p>
                    <p><b>Цена</b>: {{ product.product_price }} грн.</p>
                    <p><b>Описание</b>: {{ product.product_description }}</p>
                    <p><b>Материал</b>: {{ product.material_name }}</p>
                    <p><b>Тип</b>: {{ product.product_type_name }}</p>
                    <p><b>Цвет</b>: {{ product.product_color_name }}</p>
                    <p><b>Размер</b>: {{ product.product_size_name }}</p>
                    <p><b>Наличие</b>: <span class="{{ product.available > 0 ? (product.available > 5) ? 'text-success' : 'text-warning' : 'text-danger' }}">{{ product.available > 0 ? (product.available > 5) ? "В наличии" : "Заканчивается" : "Нет в наличии" }}</span></p>
                    <div class="product-actions d-flex align-items-center">
                        <button [disabled]="!product.available" class="btn btn-primary" (click)="onProductBuy()">Купить</button>
                    </div>
                </div>
                <div *ngIf="product_options.length > 0" class="col-12 col-md-4 mb-3 mb-md-0">
                    <h3>Доступные опции</h3>
                    <div class="product-options-list">
                        <form [formGroup]="productOptionsGroup">
                            <select formControlName="productOption" class="form-select" name="product-option" id="product-option">
                                <option *ngFor="let product_option of product_options" 
                                        value="{{ product_option.option_id }}" 
                                        [attr.selected]="product_option.option_id === product.option_id ? '' : null">
                                    {{ product_option.product_color_name }} - {{ product_option.product_size_name }} ({{ product_option.product_type_name }})
                                </option>
                            </select>
                        </form>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</main>