<main class="main">
    <div class="container">
        <div class="row">
            <h1 class="border-bottom py-3">О нас</h1>
        </div>
        <div class="row">
            <div class="col-12">
                <p>TShirt Shop - это интернет-магазин стильных, индивидуальных и практичных футболок, созданных профессиональными дизайнерами для людей различных возрастов и социальных слоев. Не имеет никакого значения: стар вы или млад, студент или бизнесмен, парень или девушка. Если вы хотите иметь стильную футболку, выделяющуюся в толпе – мы поможем вам воплотить данное желание в реальность.</p>
                <h2>Оплата и доставка</h2>
                <p>В нашем магазине существует несколько вариантов оплаты и доставки.</p>
            </div>
            <div class="col-6">
                <h3>Оплата заказа</h3>
                <p>Оплатить заказ можно следующими способами:</p>
                <ul class="px-4">
                    <li>Приват 24</li>
                    <li>Visa, Maestro, MasterCard, LiqPay</li>
                    <li>Банковский перевод</li>
                    <li>Webmoney</li>
                    <li>Наложенный платеж</li>
                </ul>
            </div>
            <div class="col-6">
                <h3>Доставка</h3>
                <p>Получить Ваш заказ можно следующими способами:</p>
                <ul class="px-4">
                    <li>Доставка в отделение <strong>Новой Почты</strong></li>
                    <li>Курьерская доставка <strong>Новой Почты</strong></li>
                    <li>Доставка новым сервисом <strong>Укрпочты</strong></li>
                </ul>
            </div>
        </div>
    </div>
</main>