<main class="main">
    <div class="container">
        <div class="row">
            <h1 class="border-bottom py-3 m-0">Каталог товаров</h1>
        </div>
        <div class="row">
            <app-shop-header></app-shop-header>
        </div>
        <div class="row">
            <router-outlet></router-outlet>
        </div>
    </div>
</main>