<div class="thank-you">
    <div class="row">
        <div class="col-12">
            <h2 class="my-3">Спасибо, ваш заказ принят!</h2>
            <p>Список заказов доступен в <a routerLink="/user/orders">личном кабинете</a></p>
        </div>
    </div>
</div>