<main class="main">
    <div class="container">
        <div class="row">
            <h1 class="border-bottom py-3">Добро пожаловать в TShirt Shop!</h1>
            <p>TShirt Shop - это интернет-магазин стильных, индивидуальных и практичных футболок, созданных профессиональными дизайнерами для людей различных возрастов и социальных слоев. Не имеет никакого значения: стар вы или млад, студент или бизнесмен, парень или девушка. Если вы хотите иметь стильную футболку, выделяющуюся в толпе – мы поможем вам воплотить данное желание в реальность.</p>
        </div>
        <div class="row">
            <div *ngIf="loading; else categoriesList" class="spinner-border my-3 mx-3" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <ng-template #categoriesList>
                <h2 class="text-center my-3">Категории футболок</h2>
                <div class="categories d-flex flex-wrap justify-content-center">
                    <div *ngFor="let category of categories" [attr.data-category-id]="category.category_id" 
                         [class]="['category-block', 'border', 'py-3', 'px-4', 'my-2', 'mx-3', 'rounded', 'shadow-sm']">
                        <h2>{{ category.category_name }}</h2>
                        <p>{{ category.category_description }}</p>
                        <a  routerLink="/shop/categories/{{ category.category_id }}"
                            [class]="['btn', 'btn-light', 'shadow-sm']">Открыть</a>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</main>