<div class="user-profile mb-3">
    <div class="container">
        <div class="row">
            <div *ngIf="loading; else ordersListBlock" class="spinner-border my-3" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <ng-template #ordersListBlock>
                <div *ngIf="!loggedIn" class="unauthorized">
                    <h3 class="py-3">Вы не авторизованы!</h3>
                    <p><a routerLink="/login">Войдите</a> или <a routerLink="/register">зарегистрируйтесь</a>.</p>
                </div>
                <div *ngIf="loggedIn">
                    <h3 *ngIf="ordersList.length === 0" class="my-3">Ваш список заказов пуст.</h3>
                    <div *ngIf="ordersList.length > 0">
                        <h3 class="my-3">Ваш список заказов</h3>
                        <div class="accordion" id="orders-list">
                            <div *ngFor="let order of ordersList" class="accordion-item">
                              <h2 class="accordion-header" id="orderHeading{{ order.order_id }}">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#orderDetails' + order.order_id" aria-expanded="false" [attr.aria-controls]="'order' + order.order_id" [attr.data-order-id]="order.order_id" (click)="onOrderClick($event)">
                                    #{{ order.order_id }} {{ order.order_date | date: 'YYYY-MM-dd' }} - {{ order.total_price }} грн.<span class="badge rounded-pill bg-info mx-3">{{ order.order_status_name }}</span>
                                </button>
                              </h2>
                              <div id="orderDetails{{order.order_id}}" class="accordion-collapse collapse" [attr.aria-labelledby]="'orderHeading' + order.order_id" data-bs-parent="#orders-list">
                                <div class="accordion-body">
                                    <div class="row">
                                        <div class="col-12 col-md-4">
                                            <h3>Общая информация</h3>
                                            <p class="my-1">Номер заказа: {{ order.order_id }}</p>
                                            <p class="my-1">Товаров (шт): {{ order.order_products_count }}</p>
                                            <p class="my-1">Дата заказа: {{ order.order_date | date: 'YYYY-MM-dd' }}</p>
                                            <p class="my-1">Сумма: {{ order.total_price }} грн.</p>
                                            <p class="my-1">Статус заказа: {{ order.order_status_name }}</p>

                                            <h3>Доставка и оплата</h3>
                                            <p class="my-1">Оплата: {{ order.payment_name }} ({{ order.payment_type_name }})</p>
                                            <p class="my-1">Доставка: {{ order.shipper_name }} ({{ order.shipping_price }} грн.)</p>

                                            <button *ngIf="order.order_status_id === 1 || order.order_status_id === 2" class="btn btn-danger btn-sm mt-3" (click)="onRejectOrder($event)" [attr.data-order-status-id]="order.order_status_id" [attr.data-order-id]="order.order_id">Отменить</button>
                                        </div>
                                        <div class="col-12 col-md-8">
                                            <div *ngIf="orderDetails.length === 0" class="spinner-border my-3" role="status">
                                                <span class="visually-hidden">Loading...</span>
                                            </div>
                                            <div *ngIf="orderDetails.length > 0" class="order-details">
                                                <h3>Список товаров</h3>
                                                <div *ngFor="let orderProduct of orderDetails" class="order-product">
                                                    {{ orderProduct.product_name }} ({{ orderProduct.product_type_name }}, {{ orderProduct.product_size_name }}, {{ orderProduct.product_color_name }}, {{ orderProduct.product_price }} грн. - {{ orderProduct.count }} шт.): {{ orderProduct.product_price * orderProduct.count }} грн.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>