<main class="main">
    <div class="container">
        <div class="row">
            <h1 class="border-bottom py-3">Упс.. 404 ошибочка.</h1>
            <p><strong>Запрашиваемая страница не найдена.</strong></p>
            <p>Проверьте правильность запроса и попробуйте ещё раз.</p>
        </div>
    </div>
</main>