.user-menu-item {
    box-sizing: border-box;
    text-decoration: none;
    color: #000;

    &:hover {
        background-color: darken(#F8F9FA, 2%);
        transition: background-color 0.3s;
    }

    &-active {
        background-color: #F8F9FA;
        border-left: 1px solid darken(#F8F9FA, 10%);
        border-right: 1px solid darken(#F8F9FA, 10%);
    }
}