<div class="user-header">
    <div class="container">
        <div class="row">
            <div class="user-header-menu d-flex border-bottom">
                <a  routerLink="/user/profile"
                    routerLinkActive="user-menu-item-active"
                    [routerLinkActiveOptions]="{exact: true}"
                    [class]="['user-menu-item', 'p-3']"
                    >Профиль</a>
                <a  routerLink="/user/orders"
                    routerLinkActive="user-menu-item-active"
                    [routerLinkActiveOptions]="{exact: true}"
                    [class]="['user-menu-item', 'p-3']"
                    >Заказы</a>
                <a  routerLink="/user/cart"
                    routerLinkActive="user-menu-item-active"
                    [routerLinkActiveOptions]="{exact: true}"
                    [class]="['user-menu-item', 'p-3']"
                    >Корзина</a>
            </div>
        </div>
    </div>
</div>