<div class="shop-header d-flex border-bottom mb-3">
    <a  routerLink="/shop/categories/"
        routerLinkActive="shop-header-link-active"
        [class]="['shop-header-link', 'py-2', 'px-3']">Категории футболок</a>
    <a  routerLink="/shop/products/"
        routerLinkActive="shop-header-link-active"
        [class]="['shop-header-link', 'py-2', 'px-3', 'mx-3']">Все футболки</a>
</div>