<div class="user-profile">
    <div class="container">
        <div class="row">
            <div *ngIf="loading; else cartProductsList" class="spinner-border my-3" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <ng-template #cartProductsList>
                <div *ngIf="!loggedIn" class="unauthorized">
                    <h3 class="py-3">Вы не авторизованы!</h3>
                    <p><a routerLink="/login">Войдите</a> или <a routerLink="/register">зарегистрируйтесь</a>.</p>
                </div>
                <h3 *ngIf="loggedIn && cartProducts.length === 0" class="py-3">Ваша корзина пуста.</h3>
                <div class="cart-products" *ngIf="cartProducts.length > 0">
                    <div class="row mb-4 mb-md-0">
                        <div class="col-12 col-md-6 d-flex align-items-center justify-content-start">
                            <h3 class="my-3">Список товаров в корзине</h3>
                        </div>
                        <div class="col-12 col-md-6 d-flex align-items-center justify-content-end">
                            <div class="cart-total">
                                <span class="mx-3"> Итого: {{ cartTotal }} грн.</span>
                                <a *ngIf="cartProducts.length > 0" class="btn btn-primary btn-sm" routerLink="/user/checkout">Оформить заказ</a>
                            </div>
                        </div>
                    </div>
                    <div class="accordion" id="cartProducts">
                        <div *ngFor="let cart of cartProducts" class="accordion-item">
                          <h2 class="accordion-header" id="cartProductHeading{{ cart.cart_id }}">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#cartProduct' + cart.cart_id" aria-expanded="false" [attr.aria-controls]="'cartProduct' + cart.cart_id" (click)="onCartProductClick($event)" [attr.data-cart-id]="cart.cart_id">
                                {{ cart.product_name }} - {{ cart.product_size_name }} ({{ cart.count }} шт.) - {{ cart.product_price * cart.count }} грн.
                            </button>
                          </h2>
                          <div id="cartProduct{{ cart.cart_id }}" class="accordion-collapse collapse" [attr.aria-labelledby]="'cartProduct' + cart.cart_id" data-bs-parent="#cartProducts">
                          <div class="accordion-body">
                                <div class="row">
                                    <div class="col-12 col-md-3">
                                        <div class="product-image h-100 d-flex align-items-center justify-content-center p-3 border rounded">
                                            <img *ngIf="cart.product_image !== null" src="{{ environment.apiHost + '/' + cart.product_image }}" alt="{{cart.product_name}}">
                                            <img *ngIf="cart.product_image === null" src="/assets/img/tshirt-thumb.svg" alt="{{cart.product_name}}">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <div *ngIf="cartProductDetails === null && cartProductDetails.cart_id === cart.cart_id" class="spinner-border my-3" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                        <div *ngIf="cartProductDetails !== null && cartProductDetails.cart_id === cart.cart_id" class="product-details">
                                            <h3 class="my-1">{{ cartProductDetails.product_name }}</h3>
                                            <a routerLink="/shop/products/{{ cartProductDetails.product_id }}">Страница в магазине</a>
                                            <p class="my-1">Тип: {{ cartProductDetails.product_type_name }}</p>
                                            <p class="my-1">Размер: {{ cartProductDetails.product_size_name }}</p>
                                            <p class="my-1">Цвет: {{ cartProductDetails.product_color_name }}</p>
                                            <p class="my-1">Материал: {{ cartProductDetails.material_name }}</p>
                                            <p class="my-1">{{ cartProductDetails.product_description }}</p>
                                            <div class="cart-actions mt-3">
                                                <button class="btn btn-light btn-sm border" (click)="onIncreaseCartProductCount()">+</button>
                                                <button class="btn btn-light btn-sm border mx-3" (click)="onDecreaseCartProductCount()">-</button>
                                                <button class="btn btn-danger btn-sm border" (click)="onDeleteCartProduct()">Удалить</button>
                                            </div>
                                            <p class="my-1">Сумма: {{ cartProductDetails.product_price * cartProductDetails.count }} грн.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>